.hub-center-content{height:94px;top:50%;transform:translate(-50%,-50%)}
.hub-review[data-odd="true"] .hub-center-content{top:59%}
.hub-center-content .ppagent-text-layout{gap:1px}
.hub-item{min-height:65px}
.hub-item-content{height:60px;top:0}
.hub-item-content .ppagent-text-layout{gap:1px}
[data-preserved-size="small"] [data-preserved-source]{--ppagent-component-heading-size:14pt!important;--ppagent-component-title-size:14pt!important;--ppagent-component-item-title-size:14pt!important;--ppagent-component-lead-size:14pt!important}
