.corner-label{min-width:6em;min-height:24px;line-height:24px;white-space:nowrap}
.task-card{min-height:64px}
.task-content{left:6px!important;right:4px!important;top:2px;bottom:2px}
.task-content .ppagent-text-flow__title,.task-content .ppagent-text-flow__body{line-height:1.05}
[data-preserved-size="small"] .task-card{margin-top:-6px}
